* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FiraCode;
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: FiraCode;
    font-weight: 400;
    overflow-x: hidden;
}

nav {
    background-color: var(--current-line);
    min-height: 3em;
    padding: .5em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav h3:before {
    content: "[";
    color: var(--purple);
    font-weight: 100;
}

nav h3:after {
    content: "]";
    color: var(--purple);
    font-weight: 100;
}

nav h3 {
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul {
    margin-left: 1em;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a:after {
    content: "()";
    color: var(--foreground);
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: #16d646;
}

@media screen and (max-width: 650px) {
    nav {
       display: block;
    }
}

@media screen and (max-width: 650px) {
    nav ul {
       margin-left: 0;
       display: block;
    }
}

@media screen and (max-width: 650px) {
    nav ul li {
       margin-top: .6em;
    }
}

@media screen and (max-width: 650px) {
    .func {
       width: 95%;
    }
}
