* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --purple: #bd93f9;
    --green: #50fa7b;
    --cyan: #8be9fd;
    --orange: #ffb86c;
    --comment: #6272a4;
}

@font-face {
    font-family: FiraCode;
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: FiraCode;
    font-weight: 400;
    overflow-x: hidden;
}

nav {
    background-color: var(--current-line);
    min-height: 3em;
    padding: .5em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav h3:before {
    content: "[";
    color: var(--purple);
    font-weight: 100;
}

nav h3:after {
    content: "]";
    color: var(--purple);
    font-weight: 100;
}

nav h3 {
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul {
    margin-left: 1em;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a:after {
    content: "()";
    color: var(--foreground);
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

.return-str:after {
    content: "() -> str:";
    color: var(--foreground);
}

.return-list:after {
    content: "() -> list:";
    color: var(--foreground);
}

.func {
    margin-left: 2em;
    width: 80%;
}

.def {
    font-weight: 500;
    margin-bottom: .3em;
    color: var(--green);
}

.def:before {
    content: "def ";
    font-weight: 400;
    color: var(--purple);
}

.return {
    display: flex;
}

.return:before {
    content: "return";
    color: var(--purple);
}

.docstring:before {
    content: "\"\"\"";
}

.docstring:after {
    content: "\"\"\"";
}

.docstring {
    color: var(--comment);
    margin-bottom: 1em;
}

.str:before {
    color: var(--foreground);
    content: "\"";
}

.str:after {
    color: var(--foreground);
    content: "\"";
}

.str {
    color: var(--orange);
    margin-left: .5em;
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: #16d646;
}

@media screen and (max-width: 600px) {
    nav {
       display: block;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
       margin-left: 0;
       display: block;
    }
}

@media screen and (max-width: 600px) {
    nav ul li {
       margin-top: .6em;
    }
}

@media screen and (max-width: 600px) {
    .func {
       width: 90%;
    }
}
